div#pg-photo-container{
    height: unset !important;
}
.video-container > video{
    width: 100% !important;
}
.pg-viewer-wrapper{
    overflow-y:unset !important
  }
.photo-viewer-container .photo{
    width: 100% !important;
    height: 100% !important;
}