
  .previewSlidingDiv {
    width: 380px;
    z-index: 2;
    bottom: 90px;
    right: 13px;
    overflow: hidden !important;
  }
  
  @media screen and (max-width: 575px) {
    .previewSlidingDiv {
      width: 350px;
    }
  }
  @media screen and (max-width: 763px) { 
    #register_name {
      width: 100%;
    }
  }

  /* .slider-exp{
    width: 70% ;
    height: 86% !important;
  } */
  /* .slider-com{
    width: 380px ;
    height: 696px ;
  } */
  .previewTransition{
    transition: all 0.5s !important;
  }
  /* .tran-eff-2{
    transition: all 0.5s !important;
  } */
  
  /* .shrinkOutlined{
    float: right;
    margin: 16px;
    font-size: 27px;
  } */
  
  .geek-logo{
    padding: 0 20px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
    /* .head-bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    } */


  .downarrow-to-close-chat {
    font-size: 0px;
    margin-right: 10px;
  }


  .chatBoxPreviewContainer {
    /* position: relative; */
    background-image:url('../../../assets/images/checkbg.gif');
    background-repeat: repeat;
    border-radius: 0 8px 8px 0;
  }