.btn-color {
  background-color: #0e1c36;
  color: #fff;

}

a {
  text-decoration: none;
}

button.btn.submit-btn-style {
  background: #284FA3;
  height: 65px;
  width: 13rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-pic {
  height: 4rem;
  /* width: 13rem; */
  object-fit: cover;
}

.input-style {
  padding: 15px;
  height: 58px;
}

.pass-field {
  width: 92% !important;
}

.phoneNumber input {
  width: 100% !important;
  border: none;
  padding: 25px;

}

.showHideButton {
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.companywebsite.form-control.is-valid,
.was-validated .companywebsite.form-control:valid {
  border-color: unset !important;
  background-image: none !important;
}
.form-control.is-valid, .was-validated .form-control:valid{
  background-image: none !important;
}
.is-invalid > input.form-control {
  border-color: red !important;
  background-image: none !important;
}
.input-error-msg {
  width: 100%;
  text-align: left;
  color: #ff4d4f;
  margin-top: 4px;
  margin-bottom: 10px;
}


