/* .forgetPasswordHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    flex-direction: column;
} */

/* .flexDirection
{
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #d4d2d2;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 3rem;
} */
/* .flexDirection input
{
    padding: 1rem;
} */

/* .reset_formHolder
{
    display: flex;  
    flex-direction: column;
    background-color: #FFFFFF;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 4rem;
} */

.resetButton {
    /* height: 70px; */
    padding: 1rem 2rem !important;
    border: 1px solid #DCDCDC;
    background-color: #284FA3 !important;
    color: white !important;
    outline: none;
    font-size: 17px !important;
    font-weight: 700 !important;
    margin: 0 .5rem !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    text-transform: capitalize !important;
    /* width: 150px !important; */
    height: 50px;
    width: 10rem;
    margin-bottom: 1rem !important;
}
.tooltip {
    position: relative;
    width: fit-content;
}

/* .change_passwordHolder{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF !important;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 25px 0;
    margin: 0 auto;
} */

.change-password{
    width: 35%;
    margin: 0 auto;
  }
  
  
  
 
 






